.meta_info {

}

.buttons_info {

}

.axes_info {

}

.debug_info {
	border-style: solid;
	font-weight: bold;
}

.home_link {
	text-align: center;
}

.outsideWrapper{
    width:1000px; height:750px;
    margin:20px 60px;
    border:1px solid blue;
}
.insideWrapper{
    width:100%; height:100%;
    position:relative;
}
.coveredImage{
    width:100%; height:100%;
    position:absolute; top:0px; left:0px;
}
.coveringCanvas{
    width:100%; height:100%;
    position:absolute; top:0px; left:0px;
    
}

body{
	height: 100%;
	width: 100%;
	background-color: #000000;
	color: #FBF5F3;
	display: grid;
	justify-content: center;
}
